.header{
  display: flex;
  width: 80%;
  height: 59px;
  color: #333;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: inherit;
}

/* selected link */
a:active {
  color: inherit;
}
.logo{
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  display: flex; 
  /* color: brown; */
  color: #f90040;
  /* color: linear-gradient(to right, #00C0FD, #E70FAA) */
  
}
.logo a{
  display: flex;;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;
}
.logo span{
  color: #333;
}
.logo p{
  color: #333;
}
.logo:hover{
  transform: scale( 1.3)
}
.nav{
  width: 70%;
}
.nav ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.nav li{
  padding: 5px;
}
.nav a{
  text-decoration: none;
  padding: 10px;
  /* background: ; */
}
.nav li:hover, footer li:hover{
  transform: scale(1.3);
}
.nav a:hover, footer a:hover {
  /* color: rgb(26, 79, 141); */
  color: #f90040;
}

.hero{
  width: 80%;
  margin: auto;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.hero .intro{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 50px;
  font-weight: 700;
  text-align: start;
}
.hero p{
  text-align: start;
}
.hero .intro span{
  color: brown;
  background: linear-gradient(to right, #333, #f90040);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari compatibility */
  color: transparent;
}

.hero .intro-image img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.hero .intro-image img:hover{
  transform: scale(1.3);
}

.stack{
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
 h1{
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #333;
}
 p{
  text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 26px;
/* color: #333555; */
}
.stack .stack-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
.stack .stack-images img{
  width: 13%;
}
.stack .stack-images img:hover{
  transform: scale(1.3);
}

.projects {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.projects .projects-container{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
 .card{
  width: 30%;
  /* height: 567px; */
  height: 60vh;
  border-radius: 20px;
  margin: 30px 10px;
  /* background: #fff; */
  /* box-shadow: 2px 2px 100px 0px rgba(0,0,0,0.20); */
  border: 2px solid #f3f2f2;
  /* display: flex;
  flex-direction: column; */
  overflow: hidden;
}
.card .card-browser{
  height: 20px;
  background-color: #aaa8a8;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  /* margin-left: 2px; */
}
.card .card-browser .card-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color:#fff;
}
.card .card-image {
  width: 100%;
  /* height: 260px; */
  transition: all 10s ease;
  /* overflow: hidden; */
}
.card:hover .card-image {
  transform: translateY(-50%);
}
.info{
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .logo-image{
  /* width: 97px; */
  height: 59px;
}
.info .info-div{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 30px */
}
.info-div p{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
hr{
  width: 80%;
  border: 1px solid #aaa8a8;
  margin: 40px auto;
}
 footer{
  width: 80%;
  display: flex;
  margin: 100px auto 20px;
  /* margin-top: 100px; */
  justify-content: space-between;
  align-content: center; 
  /* padding: 0; */
  /* border: 2px solid #f90040; */
}
footer p{
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
footer ul{
  width: 50%;
  margin: 0;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 !important;
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
} 




/* media query for mobile view   */
@media screen and (min-width: 480px) {
  .header{
  display: flex;
  width: 90%;
  height: 59px;
  color: #333;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logo{
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  display: flex; 
  /* color: brown; */
  color: #f90040;
  /* color: linear-gradient(to right, #00C0FD, #E70FAA) */
  
}
.logo a{
  display: flex;;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;
}
.logo span{
  color: #333;
}
.logo p{
  color: #333;
}
.logo:hover{
  transform: scale( 1.3)
}
.nav{
  width: 70%;
}
.nav ul{
  display:none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.nav li{
  padding: 5px;
}
.nav a{
  text-decoration: none;
  padding: 10px;
  /* background: ; */
}
.nav li:hover, footer li:hover{
  transform: scale(1.3);
}
.nav a:hover, footer a:hover {
  /* color: rgb(26, 79, 141); */
  color: #f90040;
}

.hero-x {
  width: 100%;
  display:block;
  text-align: center;
  align-items: center;
  margin: 4rem auto;
  border: 4px solid orange;

}
.hero-x .intro{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}
.hero-x p{
  text-align: center;
}
.hero-x .intro span{
  color: brown;
  background: linear-gradient(to right, #333, #f90040);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari compatibility */
  color: transparent;
}

.hero-x img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 5rem 0;
}
.hero .intro-image img:hover{
  transform: scale(.5);
}

.stack{
  width: 90%;
  margin: 2rem  auto;
}
.brief{
  margin: 2rem auto;
  border: 1px solid red;
}
h1{
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #333;
}

.brief p{
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
/* color: #333555; */
}
.stack .stack-images{
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem auto;
}
.stack .stack-images img{
  width: 80%;
}
.stack .stack-images img:hover{
  transform: scale(.5);
}

.projects {
  width: 90%;
  margin: 2rem auto;

}
.projects .projects-container{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
 .card{
  width: 80%;
  height: 60vh;
  border-radius: 20px;
  margin: 30px 10px;
  border: 2px solid #f3f2f2;
  overflow: hidden;
}
.card .card-browser{
  height: 20px;
  background-color: #aaa8a8;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  /* margin-left: 2px; */
}
.card .card-browser .card-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color:#fff;
}
.card .card-image {
  width: 100%;
  /* height: 260px; */
  transition: all 10s ease;
  /* overflow: hidden; */
}
.card:hover .card-image {
  transform: translateY(-50%);
}
.info{
  width: 90%;
  margin:5px  auto;
  display: block;
  text-align:center;
}
.info .logo-image{

  height: 59px;
  margin: 5px auto;
}
#phone-x{
  width: 90%;
}
.logo-foot{
  width: fit-content;
   font-size:medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: #f90040;
  /* border: 2px solid yellow; */
  margin: 0 auto;
}

.logo-foot a{
  display: flex;
  text-align: center;
  align-items: center;
  /* flex-wrap: nowrap; */
  margin: 0 auto;
  text-decoration: none;
}
.logo-foot span,p{
  color: #333;
}

.logo-foot:hover{
  transform: scale( 1.3)
}
.info .info-div{
  width: 90%;
  display: block;
  justify-content: space-between;
  margin: 5px auto;
  /* gap: 30px */
}

hr{
  width: 90%;
  border: 1px solid #aaa8a8;
  margin: 40px auto;
}
 footer{
  width: 90%;
  display:block;
  margin: 5px auto;
  padding: 5px;
}
#foot-p{
  width: 80%;
  font-weight: bold;
  font-size: 1rem;
  margin: 5px auto;
}
footer ul{
  width: 80%;
  display: flex; 
  justify-content:space-evenly;
  gap: 5;
  text-align: center;
  list-style: none;
  padding: 5;
  font-size: 1rem;
  margin: 5px auto;
} 

}